<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getCRUD</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>crud</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>
                dis play crud.ejs
            </h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i<users.length; i++) { %>
                        <tr>
                            <th scope="row">
                                <%=users[i].id%>
                            </th>
                            <td>
                                <%=users[i].firstName%>
                            </td>
                            <td>
                                <%=users[i].lastName%>
                            </td>
                            <td>
                                <%=users[i].address%>
                            </td>
                            <td>
                                <a type="button" href="/edit-crud?id=<%=users[i].id%>" class="btn btn-warning">Edit</a>
                                <a type="button" href="/delete-crud?id=<%=users[i].id%>"
                                    class="btn btn-danger">Delete</a>
                            </td>

                        </tr>
                        <%}%>



                </tbody>
            </table>
        </div>
    </div>
</body>

</html>